body {
    background-image: url("http://charactersheet.co.uk/pathfinder/images/4f4cfbf4.bg-paper-2.jpg");
}

#content {
    background-image: url("http://charactersheet.co.uk/pathfinder/images/4e982ec8.bg-paper-1.jpg");
    background-size: cover;
    margin: auto;
    padding: 10px;
    width: 1000px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
    
}

.stat-container {
    display: inline-block;
    display: -moz-inline-box;
    width: 23%;
    text-align: center;
    margin: 0 5px 5px 0;
}

.ability-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    grid-row-gap: 5px;
  }

.ability-label {
    background-color: black;
    color: white;
    padding: 20px 15px;
    width: 50%;
    margin-right: 10px
}
  
.grid-item {
    padding: 20px;
    text-align: center;
}

#logout-button {
    float: right;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding: 3px;
    float:right;
}

.defense-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    grid-row-gap: 5px;
}

.defense-label {
    background-color: black;
    color: white;
    padding: 20px 15px;
    width: 50%;
    margin-right: 10px
}