body {
    background-image: url("http://charactersheet.co.uk/pathfinder/images/4f4cfbf4.bg-paper-2.jpg");
}

#content {
    background-image: url("http://charactersheet.co.uk/pathfinder/images/4e982ec8.bg-paper-1.jpg");
    background-size: cover;
    margin: auto;
    padding: 10px;
    width: 1000px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
    
}

.stat-container {
    float: left;
    margin: 0 5px 5px 0;
}